.testing {
  width: 71.42857%;
  font-size: 30px;
  color: #000;
  border: none;
  margin: 0;
  padding: 0; }

body {
  background: none;
  margin: 0;
  padding: 10px; }

.main_ {
  font-size: 170px;
  color: red; }
